{% extends "Stats/layout/base.html" %}
{% block content %}
<div class="container">
    <section name="input-list" id="input-list">
        <h1 class="title" style=>Statistics</h1>
    </section>
    <section name="profile" style="align-left">
        <div class="nempel">
            <img src="https://c1.staticflickr.com/5/4481/37272585896_fb26d30fe6_b.jpg" class="img-circle" widht="200" height="200"></img>
            <span class="biar_beda">
            {{name}}
         </span>
        </div>   
        </section>
        <div class="container-fluid" align="center"><div class="row">
        <div class="col-md-6" style="font-size: 30px;color:white">Friends: {{Friends}}</div>
        <div class="col-md-6" style="font-size: 30px;color:white">feeds:{{feed}}</div>
    </div>
        <div class="col-md-6" style="font-size: 30px;color:white">Latest Post:
            <div class="biar_keren">
                {% if database %}
                    <div class="flex-item">
                        <div class="status-list">
                            <div class="status-profile">
                                <div class="status-profile-left">
                                    <img src="https://c1.staticflickr.com/5/4481/37272585896_fb26d30fe6_b.jpg" class="img-circle" width="50px" height="50px" alt="my-photo"></a>
                                    <span class="status-profile-right">
                                    {{name}}
                                </span>
                                </div>
                            </div>
                            <div class="status-message">
                                {{database.status}}
                            </div>
                            <div class="status-date">
                                {{database.created_date}}
                            </div>
                        </div>
                    </div>
            {% else %}
            <strong>Anda Belum Pernah Buat Status.</strong>
            {% endif %}
        </div>
    </div>
</div>
                            
{% endblock %}  
