body{
  background: url("../images/header-bg.1e9c25702550.jpg") no-repeat center top fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  width: 100%;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat');

@font-face {
    font-family: "Montserrat", sans-serif;
    src: url(https://fonts.googleapis.com/css?family=Montserrat) format("truetype");
}

.navbar-header li:hover {
  background: #ad974f;
  transition: 2s;
}

.navbar-header li:active {
  background: #ad974f;
}

.title{
  font-family:'Montserrat', sans-serif;
  font-size: 50px;
  margin-bottom: 1em;
  color: white;
  text-align: left;
  text-shadow: 2px 2px 5px black;
}

.headline {
  font-family:'Montserrat', sans-serif;
  font-size: 20px;
  margin-bottom: 1em;
  color: white;
  text-align: left;
  text-shadow: 2px 2px 5px black;
}

.navbar-brand {
  -webkit-filter: invert(100%); filter: invert(100%);
}

.navbar-brand:hover {
  -webkit-filter: invert(50%); filter: invert(50%);
  transition: 2s;
}

.footer {
	-webkit-filter: invert(100%); filter: invert(100%);

}
.biar_beda{
  color:black;
  font-size:50px;

}

@-webkit-keyframes neon {
  from {
    box-shadow: 0 0 0px #e45;
  }
  to {
    box-shadow: 0 0 10px #e45, 0 0 20px #e45, 0 0 30px #e45, 0 0 40px #e45, 0 0 70px #e45, 0 0 80px #e45, 0 0 100px #e45, 0 0 150px #e45;
  }
}

footer p{
  text-align: center;
  padding-top: 10px;
}

.status-date{
  color:white;
  font-size: 18px;
}
.biar_keren{
  color: white;
  font-size: 27px;
}

.page_profile_name{
	color:white;
}

.borderless{
	border:none;
}

.borderless td{
	padding:5px;
	margin:5px;
	color:white;
	font-size:20px;
}

.badge{
	font-size:20px;
	background-color:gray;
}

textarea {
    resize:none
}

footer p{
  text-align: center;
  padding-top: 10px;
}

.friend-list .friend-delete {
  background: #8e793e;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  height: 50px;
  cursor: pointer;
  z-index: -1;
  -webkit-border-radius: 0 0px 2px 2px;
  -moz-border-radius: 0 0px 2px 2px;
  -o-border-radius: 0 0px 2px 2px;
  border-radius: 0 0px 2px 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.friend-list .friend-delete:hover{
  background: #eaeaea;
  color: #231f20;
  transition: 2s;
}

/* styling responsive max-width menandakan bahwa rule css ini hanya akan bekerja untuk layar dengan maksimal 768px, jika lebih dari 768px maka rule ini diabaikan */
@media only screen and (max-width: 768px) {
  #input-list form {
    width: 290px;
  }
  .container {
    width: 500px;
  }
}

