body{
  background: url("../images/header-bg.1e9c25702550.jpg") no-repeat center top fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  width: 100%;
}
.footer {
	-webkit-filter: invert(100%); filter: invert(100%);

}

.title{
  font-family:'Montserrat', sans-serif;
  font-size: 40px;
  margin-bottom: 1em;
  color: white;
  text-align: left;
  text-shadow: 2px 2px 5px black;
}

.navbar-brand {
	-webkit-filter: invert(100%); filter: invert(100%);
}

.navbar-brand:hover {
	-webkit-filter: invert(50%); filter: invert(50%);
}

/*.navbar-brand:hover {
  -webkit-filter: brightness(200%); filter: brightness(200%);
}
*/
/* Textarea not resizeable */
textarea {
    resize:none
}
section{
  min-height: 400x;
}

footer p{
  text-align: center;
  padding-top: 10px;
}

/* styling responsive max-width menandakan bahwa rule css ini hanya akan bekerja untuk layar dengan maksimal 768px, jika lebih dari 768px maka rule ini diabaikan */
@media only screen and (max-width: 768px) {
  #input-list form {
      width: 290px;
  }
  .container {
    width: 500px;
  }
}