.img-circle{
	border-radius:50%;
}

.page_profile-container{
	text-align:center;
}

.page_profile-right{
	text-align:right
}

.page_profile-left{
	text-align:right
}

.expertise-block{
	border-radius:50%;
}