<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-static-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'page_profile:index' %}"><img src="http://findicons.com/files/icons/1580/devine_icons_part_2/128/home.png" width="30px" height="30px"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right navbar-header">
            <!-- LINK MENUJU table, dan link menuju home#form -->
            <li><a href="{% url 'update_status:add_status' %}"> Status </a></li>
            <li><a href="{% url 'page_profile:index' %}"> Profile </a> </li>
            <li><a href="{% url 'add-friend:index' %}"> Friends </a> </li>
            <li><a href="{% url 'page_stats:index' %}"> Stats </a> </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
