{% extends "add_friend/layout/base.html" %}

{% block content %}
<div class="container container-fluid">
    <section name="form">
        <h2 class="title">Add Friend</h2>
        <form id="form" method="POST" action="{% url 'add-friend:add_friend' %}" style="color: white; text-shadow: 3px 3px 5px black;">
            {% csrf_token %}
            {{ friend_form }}
            <br>
            <button type="submit" class="btn btn-default">Add Friend</button>
        </form>
    </section>

    <section name="my-list" id="my-list">
        <h2 class="title">List Friend</h2>
        <div class="flex">
            {% if friend %}
                {% for data in friend %}
                    <div class="flex-item">
                        <div class="friend-list">
                            <div class="friend-profile">
                                <div class="friend-profile-left">
                                    <img src="http://www.iconsfind.com/wp-content/uploads/2016/10/20161014_58006bfb44c8d-210x210.png" width="50px" height="50px" alt="my-photo">
                                </div>
                                <div class="friend-profile-right">
                                    {{data.name}}
                                </div>
                            </div>
                            <div class="friend-message">
                                <a href="{{data.url}}">{{data.url}}</a>
                            
                            </div>
                            <div class="friend-date-added">
                                {{data.created_date}}
                            </div>
                            <div class="friend-delete btn-danger">
                                <div class="friend-delete-button" data-id="{{data.id}}">Unfriend</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Kamu belum memiliki teman.</strong>
            </div>
            {% endif %}
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="application/javascript">
        $(function() {
            $('.friend-delete-button').click(function() {
                var id = $(this).data('id')
                location.href = "/add_friend/delete/" + id + "/"
            });
        });
    </script>
</div>

{% endblock %}


