{% extends "page_profile/layout/base.html" %}
{% load staticfiles%}
    {% block content %}

	<div class="container-fluid" align="center">
		<h1 class="title">Profile</h1>
		<section name="profile" style="align-center">
			<img src="https://c1.staticflickr.com/5/4481/37272585896_fb26d30fe6_b.jpg" class="img-circle" widht="200" height="200"></img>
			<h2 class="page_profile_name">{{Name}}</h2>    
		</section>
	</div>
	
	<!--<div class="container-fluid" align="center">
		<table class="borderless">
			{% for data in profile %}
				<tr>
					<td class="page_profile-subject">{{profile.subject}}</td>
					{% if data.subject == 'expertise' %}
					<td class="page_profile-value">
						{% for exp in data.value %}
						<span class="badge">{{exp}}</span>
						{% endfor %}
					</td>
					{% else %}
					<td class="page_profile-value">{{profile.value}}</td>
					{% endif %}
				</tr>
			{% endfor %}
		</table>
	</div>-->
	<div class="container-fluid" align="center">		
	   <table class="borderless">
			<tbody>
				<tr>
					<td>Birthday</td>
					<td>{{birthdate}}</td>
				</tr>
				<tr>
					<td>Gender</td>
					<td>{{gender}}</td>
				</tr>
				<tr>
					<td>Expertise</td>
					<td>{% for i in expertise %}
						<span class="badge">{{i}}</span>
						{% endfor %}
					</td>
				</tr>
				<tr>
					<td>Description</td>
					<td>{{description}}</td>
				</tr>
				<tr>
					<td>Email</td>
					<td>{{email}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	{% endblock %}

