{% extends "update_status/layout/base.html" %}

{% block content %}
<div class="container container-fluid">
    <section name="input-list" id="input-list">
        <h1 class="title">Kenalan Yuk</h1>
        <form id="form" method="POST" action="{% url 'update_status:add_status' %}">
            <h2>Update Status</h2>
            {% csrf_token %}
            {{ status_form }}
            <input id="submit" type="submit" class="btn btn-lg btn-block" value="Post">
            <br>
        </form>
    </section>
    
    <section name="my-list" id="my-list">
        <h2 class="title">Your Status</h2>
        <div class="flex">
            {% if database %}
                {% for data in database %}
                    <div class="flex-item">
                        <div class="status-list">
                            <div class="status-profile">
                                <div class="status-profile-left">
                                    <a href="{% url 'page_profile:index' %}">
                                    <img src="https://c1.staticflickr.com/5/4481/37272585896_fb26d30fe6_b.jpg" width="50px" height="50px" alt="my-photo"></a>
                                </div>
                                <div class="status-profile-right">
                                    {{profile_name}}
                                </div>
                            </div>
                            <div class="status-message">
                                {{data.status}}
                            </div>
                            <div class="status-date-added">
                                {{data.created_date}}
                            </div>
                            <div class="status-delete">
                                <div class="status-delete-button" data-id="{{data.id}}">Delete</div>
                            </div>
                        </div>       
                    </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Kamu belum membuat Status. </strong>
            </div>
            {% endif %}
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="application/javascript">
        $(function() {
            $('.status-delete-button').click(function() {
                var id = $(this).data('id')
                location.href = "/update_status/delete/" + id + "/"
            });
        });
    </script>
</div>

{% endblock %}  
